{% extends 'main/base.html' %}

{% block bread_crumb %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Profile</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">System Usage</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

{% endblock bread_crumb %}

{% block content %}
    <!-- Daterange picker plugins css -->
    <link href="/static/template/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/static/template/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">System Usage</h4>
                    <h6 class="card-subtitle">Software usage time
                        of {{ user_profile.profile.employee.full_name }}</h6>

                    <div class='input-group mb-3'>
                        <input type='text' class="form-control shawCalRanges"/>
                        <div class="input-group-append">
                                        <span class="input-group-text">
                                            <span class="ti-calendar"></span>
                                        </span>
                        </div>
                    </div>

                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="table table-bordered table-hover">
                            <thead>
                        <tr>
                            <th>Id</th>
                            <th>Process_Name</th>
                            <th>Window</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Total Time</th>
                        </tr>
                        </thead>
                        <tbody id="process_name">
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="row">
      <div id="process_group_modal" style = "margin-left:0%;width:80%" data-dismiss="modal" class="modal fade" role="dialog">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div  class= "row modal-body">
        <!-- Column -->
          <div  class= "col-lg-4 col-xlg-3 col-md-5 modal-dialog ">
          </div>
        <!-- Column -->
        <!-- Column -->
          <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
            <!-- Nav tabs -->
            <div class="card-body">
                <h6 class="card-subtitle">Applications used by {{ user_profile.profile.employee.full_name }}</h6>
                <div class="table-responsive m-t-60">
                    <table id="modalTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Process_Name</th>
                            <th>Window</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Total Time</th>
                        </tr>
                        </thead>
                        <tbody id="process_Group">
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block page_scripts %}
        <!-- ============================================================== -->
    <!-- Plugins for this page -->
    <!-- ============================================================== -->
    <!-- Date range Plugin JavaScript -->
    <script src="/static/template/assets/plugins/moment/moment.js"></script>
    <script src="/static/template/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="/static/template/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script>
      var start = moment();
      var end = moment();

      function cb(start, end) {

      }
        // Always Show Calendar on Ranges
        $('.shawCalRanges').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            alwaysShowCalendars: true,
        },cb);
        cb(start, end);
    </script>

    <!-- This is data table -->
    <script src="/static/template/assets/plugins/datatables/datatables.min.js"></script>
    <script>

        //  Load Employee Information
        var all_system_json = $.ajax({
            type: "GET",
            url:  "/api/system-tracking/" + {{ user_profile.id }},
            dataType: "application/json",
            async: false,
            error: function (xhr, status, errorThrown) {
            }
        }).responseText;

        var all_system_usage = JSON.parse(all_system_json);
        all_system_usage.forEach(function (usage) {
            render_system_usage(usage);
        });

        function render_system_usage(usage) {

            var window = `
               <tr>
                    <td>${usage.id}</td>
                    <td><a href="" data-toggle="modal" data-target="#process_group_modal" data-backdrop="static" data-keyboard="false" onclick="systemUsage('${usage.process_name}')">${usage.process_name}</a></td>
                    <td>${usage.window}</td>
                    <td>${usage.start_time}</td>
                    <td>${usage.end_time}</td>
                    <td>${usage.total_time}</td>
               </tr>
            `;
            $('#process_name').append(window);
        }

        function systemUsage(process_name) {

            $('#process_Group').empty();

            all_system_usage.forEach(function (systemUsage) {
            if (systemUsage.process_name == process_name) {
                var window_div = `
                    <tr>
                        <td>${systemUsage.id}</td>
                        <td>${systemUsage.process_name}</td>
                        <td>${systemUsage.window}</td>
                        <td>${systemUsage.start_time}</td>
                        <td>${systemUsage.end_time}</td>
                        <td>${systemUsage.total_time}</td>
                    </tr>`;
             }
                 $('#process_Group').append(window_div);
            })

        }

      {#  $(document).ready(function () {#}
      {#      var table = $('#myTable').DataTable({#}
      {#          ajax: {#}
      {#              url: "/api/system-tracking/" + {{ user_profile.id }} +"?format=json",#}
      {#              dataSrc: ''#}
      {#          },#}
      {#          "columnDefs": [#}
      {#              {"title": "id", "targets": 0},#}
      {#              {"title": "Process", "targets": 1},#}
      {#              {"title": "Window", "targets": 2},#}
      {#              {"title": "Start Time", "targets": 3},#}
      {#              {"title": "End Time", "targets": 4},#}
      {#              {"title": "Total Time", "targets": 5}#}
      {#          ],#}
      {#          columns: [#}
      {#              {"data": "id"},#}
      {#              {"data": "process_name",#}
      {#                "render": function(data, type, row, meta){#}
      {#                  if(type === 'display'){#}
      {#                    data = '<a href="#" data-toggle="modal" data-target="#process_group_modal" data-backdrop="static" data-keyboard="false" onclick="LoadEmployeeDetailModal('+data+')">' + data + '</a>';#}
      {#                  }#}
      {#                  return data;#}
      {#                }#}
      {#              },#}
      {#              {"data": "window"},#}
      {#              {"data": "start_time"},#}
      {#              {"data": "end_time"},#}
      {#              {"data": "total_time"}#}
      {#          ]#}
      {#      });#}
      {#      setInterval(function () {#}
      {#          // table.ajax.reload();#}
      {#      }, 1000);#}
      {#  })#}
      {#function LoadEmployeeDetailModal(process) {#}
      {#      alert(process)#}
      {#      var window_div = `#}
      {#         <tr>#}
      {#              <td></td>#}
      {#              <td></td>#}
      {#         </tr>#}
      {#      `;#}
      {#      $('#process_Group').append(window_div);#}
      {#}#}

        $(document).ready(function () {
            $('#myTable').DataTable({
                "searching": false,
                dom: 'Bfrtip',

            });
            $('#modalTable').DataTable({
                 "searching": false,
                dom: 'Bfrtip',

            });
        })

    </script>

{% endblock page_scripts %}
