{% extends 'main/base.html' %}

{% block bread_crumb %}

    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Users List</h3>
        </div>
        <div class="col-md-6 col-4 align-self-center">

            <button style="margin-left: 10px" id="delete_user" class="btn float-right hidden-sm-down btn-danger"><i
                    class="mdi mdi-account-remove"></i> Delete Selected
            </button>

            <button class="btn float-right hidden-sm-down btn-success" data-toggle="modal"
                    data-target="#responsive-modal" data-backdrop="static" data-keyboard="false">
                <i class="mdi mdi-account-plus"></i> Create New
            </button>

        </div>

        <!-- Add new user modal -->
        <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create new user</h4>
                    </div>
                    <div class="modal-body">
                        <form id="create_user_form" class="mt-5" novalidate action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <h5>Username <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="username" type="text" name="text" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>First Name <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="first_name" type="text" name="text" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>Last Name <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="last_name" type="text" name="text" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>Email Field <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="email" type="email" name="email" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>Password <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input type="password" name="password" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>Repeat Password<span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="password" type="password" name="password2"
                                           data-validation-match-match="password"
                                           class="form-control" required></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h5>Permissions</h5>
                                        <div class="controls">
                                            <fieldset>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="is_active" type="checkbox"
                                                           name="styled_checkbox"
                                                           class="custom-control-input"><span
                                                        class="custom-control-label">Activate Account</span> </label>
                                            </fieldset>
                                            <fieldset>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="is_superuser" type="checkbox"
                                                           name="styled_checkbox"
                                                           class="custom-control-input"><span
                                                        class="custom-control-label">Admin Access</span> </label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-xs-right">
                                <button type="submit" onclick="createNewUser()" class="btn btn-info">Create</button>
                                <button type="reset" data-dismiss="modal" class="btn btn-inverse">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>

{% endblock bread_crumb %}

{% block content %}
    <link rel="stylesheet" type="text/css"
          href="/static/template/assets/plugins/datatables/media/css/dataTables.bootstrap4.css">

    <style>
        .selected {
            color: white;
            background-color: #343a40;
        }

    </style>

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Users</h4>
                    <h6 class="card-subtitle">Users Account Details</h6>
                    <div class="table-responsive m-t-40">
                        <table id="userTable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>USERNAME</th>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                <th>EMAIL</th>
                                <th>ACTIVE</th>
                                <th>ADMIN</th>
                                <th>LAST LOGIN</th>
                                <th>JOINED DATE</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in user_list %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.is_active }}</td>
                                    <td>{{ user.is_superuser }}</td>
                                    <td>{{ user.last_login }}</td>
                                    <td>{{ user.date_joined }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block page_scripts %}

    <script>
        // Validation script
        !function (window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation()
        }(window, document, jQuery);
    </script>

    <!-- This is data table -->
    <script src="/static/template/assets/plugins/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#userTable').DataTable();

            $('#userTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#delete_user').click(function () {
                var selected = table.rows('.selected')[0];
                if (selected === undefined || selected.length == 0) {
                    alert("Select user to delete")
                } else {
                    var confirmation = confirm("are you sure you want to remove this user ?");
                    if (confirmation) {
                        var x = table.rows('.selected').data();
                        var user_id = x[0][0];
                        delete_user(user_id);
                        table.row('.selected').remove().draw(false);
                    }
                }
            });
        });

        function createNewUser() {
            $("#create_user_form").on("submit", function (event) {
                $.ajax({
                    url: "/api/users/",
                    type: "POST",
                    data: {
                        "username": $("#username").val(),
                        "password": $("#password").val(),
                        "email": $("#email").val(),
                        "first_name": $("#first_name").val(),
                        "last_name": $("#last_name").val(),
                        "is_active": $("#is_active").val(),
                        "is_superuser": $("#is_superuser").val()
                    },
                    success: function (result) {
                        alert(result)
                    }
                });
            })
        }

        function delete_user(user_id) {
            $.ajax({
                url: "/api/users/" + user_id,
                type: "DELETE"
            });
        }

    </script>

{% endblock page_scripts %}