{% extends 'main/base.html' %}
{% load mist_tags %}
{% block bread_crumb %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Attendance</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">HRM</a></li>
                <li class="breadcrumb-item active">Attendance</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="float-right" style="margin-left: 10px">
                <select id="emp_desg_select" onchange="emp_desg_filter(this.value);" class="form-control">
                    <option value="">Designation (All)</option>
                    {% for designation in designation %}
                        <option>{{ designation.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="float-right" style="margin-left: 10px">
                <select id="emp_dep_select" onchange="emp_dep_filter(this.value);" class="form-control">
                    <option value="">Department (All)</option>
                    {% for department in department %}
                        <option>{{ department.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="float-right" style="margin-left: 10px">
                <select id="emp_location_select" onchange="location_clicked(this.value)" class="form-control">
                    <option value="">Location</option>
                    {% for location in location %}
                        <option>{{ location.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <link rel='stylesheet' href='/static/third_party/DataTables/datatables.min.css' type="text/css"/>
    <link rel='stylesheet' href='/static/third_party/DataTables/Buttons-1.5.6/css/buttons.dataTables.min.css'
          type="text/css"/>

{% endblock bread_crumb %}

{% block content %}
    <style>
        input[type="date"] {
            background-color: #626567;
            outline: none;
        }
        ::-webkit-inner-spin-button { display: none; }
    </style>
    <center>
      <input id="attendance_selected_date" type="date" onchange="load_attendance_data(this.value)">
      <a class="mytooltip" href="javascript:void(0)">
        <button type="button" class="btn btn-info" id="attendance_info_button">!</button>
        <span class="tooltip-content5" style="height:10px !important;">
          <span class="tooltip-text3">
            <span class="tooltip-inner2">
              <p id="total_attendance">Present : 0 <br> Absent : 0</p>
            </span>
          </span>
        </span>
      </a>
    </center>

    <div class="table-responsive">
                    <table id="employee_attendance_list" class="table table-bordered m-t-30 wrap">
                        <thead>
                        <tr>
                            <th>Employee Id</th>
                            <th>Name</th>
                            <th>Total</th>
                            <th>Actual</th>
                            <th>Non-Completed</th>
                            <th>Additional</th>
                        </tr>
                        </thead>
                        <tbody id="attendance_tbody"></tbody>
                    </table>
                </div>

{% endblock content %}

{% block page_scripts %}
    <script src="/static/third_party/DataTables/datatables.min.js"></script>
    <script src="/static/third_party/DataTables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="/static/third_party/DataTables/Buttons-1.5.6/js/buttons.colVis.min.js"></script>
    <!--Mist Core JavaScript -->
    <script src="/static/mist/core.js"></script>
    <script>
        var all_employee_json = $.ajax({
            type: "GET",
            url: "/api/hrm/employee",
            dataType: "application/json",
            async: false,
            error: function (xhr, status, errorThrown) {
            }
        }).responseText;
        var all_employees = JSON.parse(all_employee_json);
    </script>
    <script>
        var employees = [];
        var department = '';
        var designation = '';

        function location_clicked(location) {
          document.getElementById("attendance_selected_date").value = "dd/mm/yyyy";
          $('#attendance_tbody').html('');

          employees = [];
          all_employees.forEach(function (employee) {
            if(employee.location == null){
                return 0;
            }
            if (location == employee.location['name']) {
               employees.push(employee);
            }
          });
        }

        function emp_dep_filter(dept){
          department = dept;
          load_attendance_data(document.getElementById("attendance_selected_date").value);
        }

        function emp_desg_filter(desig){
          designation = desig;
          load_attendance_data(document.getElementById("attendance_selected_date").value);
        }

        function load_attendance_data(date){
          var total = employees.length;
          var absent = 0;
            $('#attendance_tbody').html('');
            //Function to load attendance data of each employee for the clicked date
            employees.forEach(function(employee){
              if((employee.department['name'] != department && department != '') || (employee.designation['name'] != designation && designation != '')){
                return 0;
              }
                var attendance_data = $.ajax({
                    url: '/api/work-hours/' + employee.employee_id + '/?date=' + date,
                    type: "GET",
                    dataType: "application/json",
                    async: false,
                    error: function (xhr, status, errorThrown) {
                        return 0;
                    }
                }).responseText;
                var attendance = JSON.parse(attendance_data);
                if(attendance['total'] === "Absent"){
                  var data = `
                  <tr bgcolor="#FF5252" style="color: #fff; font-weight:medium;">
                      <td>${employee.employee_id}</td>
                      <td>${employee.first_name}</td>
                      <td>${attendance['total']}</td>
                      <td>${attendance['actual']}</td>
                      <td>${attendance['non_completed']}</td>
                      <td>${attendance['additional']}</td>
                  </tr>
                  `;
                  absent = absent + 1;
                }
                else if(attendance['non_completed'] !== "00:00:00"){
                    var data = `
                    <tr style="color: #fff; font-weight:medium;">
                        <td>${employee.employee_id}</td>
                        <td>${employee.first_name}</td>
                        <td>${attendance['total']}</td>
                        <td>${attendance['actual']}</td>
                        <td style="color:#FF1744; font-weight:bold;">${attendance['non_completed']}</td>
                        <td>${attendance['additional']}</td>
                    </tr>
                    `;
                }
                else if(moment(attendance['actual'], "HH:mm:ss") > moment('13:00:00', "HH:mm:ss")){
                    var data = `
                    <tr bgcolor="#2196F3" style="color: #fff; font-weight:medium;">
                        <td>${employee.employee_id}</td>
                        <td>${employee.first_name}</td>
                        <td>${attendance['total']}</td>
                        <td>${attendance['actual']}</td>
                        <td>${attendance['non_completed']}</td>
                        <td>${attendance['additional']}</td>
                    </tr>
                    `;
                }
                else if(attendance['non_completed'] === "00:00:00" || attendance['additional'] !== "00:00:00"){
                    var data = `
                    <tr style="color: #fff; font-weight:medium;">
                        <td>${employee.employee_id}</td>
                        <td>${employee.first_name}</td>
                        <td>${attendance['total']}</td>
                        <td>${attendance['actual']}</td>
                        <td>${attendance['non_completed']}</td>
                        <td style="color:#64DD17; font-weight:bold;">${attendance['additional']}</td>
                    </tr>
                    `;
                }
                else{
                    var data = `
                    <tr style="color: #fff; font-weight:medium;">
                        <td>${employee.employee_id}</td>
                        <td>${employee.first_name}</td>
                        <td>${attendance['total']}</td>
                        <td>${attendance['actual']}</td>
                        <td>${attendance['non_completed']}</td>
                        <td>${attendance['additional']}</td>
                    </tr>
                    `;
                }
                $('#attendance_tbody').append(data);
            });
            document.getElementById("total_attendance").innerHTML = "Total : "+ total + "<br>" + "Present : " + (total-absent) + "<br>" + "Absent : " + absent;
        }
    </script>

{% endblock page_scripts %}
