{% extends 'main/base.html' %}
{% load mist_tags %}
{% block bread_crumb %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <style>
        .box__dragndrop,
        .box__uploading,
        .box__success,
        .box__error {
            display: none;
        }

        table.dataTable tbody tr {
            background-color: #272c33 !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {

        }
    </style>
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Employee List</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">HRM</a></li>
                <li class="breadcrumb-item active">Employee List</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">

            {% if request.user|has_group:"HR Assistant" %}
              <div class="float-right" style="margin-left: 10px">
                  <select id="emp_status_select" onchange="emp_status_filter();" class="form-control">
                      <option value="">Status (All)</option>
                      {% for employment_status in employment_status %}
                          <option>{{ employment_status.name }}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="float-right" style="margin-left: 10px">
                  <select id="emp_desg_select" onchange="emp_desg_filter();" class="form-control">
                      <option value="">Designation (All)</option>
                      {% for designation in designation %}
                          <option>{{ designation.name }}</option>
                      {% endfor %}
                  </select>
              </div>
            {% endif %}
            <div class="float-right" style="margin-left: 10px">
                <select id="emp_dep_select" onchange="emp_dep_filter();" class="form-control">
                    <option value="">Department (All)</option>
                    {% for department in department %}
                        <option>{{ department.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="float-right" style="margin-left: 10px">
                <select id="emp_location_select" onchange="emp_location_filter();" class="form-control">
                    <option value="">Location (All)</option>
                    {% for location in location %}
                        <option>{{ location.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <p id="toggle" class="float-right" style="margin-left: 10px">
                <span data-toggle="tooltip" title="Grid View"><i class="mdi mdi-view-grid" style="font-size:30px;"></i></span>
                <span data-toggle="tooltip" title="List View"><i class="mdi mdi-view-list" style="font-size:30px;"></i></span>
            </p>
            <button type="button" id="feedback-btn" class="btn btn-info vertical-right-aligned">
                Feedback <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            </button>
        </div>
    </div>
{% endblock bread_crumb %}

{% block content %}
    <link rel='stylesheet' href='/static/third_party/DataTables/datatables.min.css' type="text/css"/>
    <link rel='stylesheet' href='/static/third_party/DataTables/Buttons-1.5.6/css/buttons.dataTables.min.css' type="text/css"/>
    <div class="container-fluid">
        <!-- Employee Grid View -->
        <div class="row el-element-overlay" id="employee_grid_view"></div>

        <!-- Employee List View -->
        <div id="employee_list_view" style="display:none;" class="card">
            <div class="contact-page">
                <div class="table-responsive">
                    <table id="employee_list_datatable" class="table table-bordered m-t-30 no-wrap table-hover contact-list">
                        <thead>
                        <tr>
                            <th>Employee Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            {% if request.user|has_group:"HR Assistant" %}
                              <th>Phone</th>
                            {%endif%}
                            <th>Department</th>
                            <th>Joining date</th>
                        </tr>
                        </thead>
                        <tbody id="employee_tbody_view">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Employee Profile Modal -->
        <div class="row">
            <div id="employee_detail_modal" style="margin-left:15%;width:70%" data-dismiss="modal" class="modal fade"
                 role="dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
                <div class="row modal-body">
                    <div class="modal-dialog ">
                    </div>
                    <!-- employee records -->
                    {% include 'hrm/employee_records.html' %}
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

{% block page_scripts %}
    <script src="/static/third_party/DataTables/datatables.min.js"></script>
    <script src="/static/third_party/DataTables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="/static/third_party/DataTables/Buttons-1.5.6/js/buttons.colVis.min.js"></script>
    <!--Mist Core JavaScript -->
    <script src="/static/mist/core.js"></script>
    <!--Employee Records JavaScript -->
    <script src="/static/mist/employee_records.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      $('#emp_status_select').val("Working");
        // Setup Django Variables to JS Global Variables
        // This Script Section is required to load employee records js file
        let designations = [];
        {% for desig in designation %}
            designations.push("{{ desig.name }}");
        {% endfor %}

        let departments = [];
        {% for depart in department %}
            departments.push("{{ depart.name }}");
        {% endfor %}

        let roles = [];
        {% for role_name in role %}
            roles.push("{{ role_name.name }}");
        {% endfor %}

        let locations = [];
        {% for location_name in location %}
            locations.push("{{ location_name.name }}");
        {% endfor %}
        let employment_statuss = [];
        {% for employment_status_name in employment_status %}
            employment_statuss.push("{{ employment_status_name.name }}");
        {% endfor %}

        // Calling Employee Detail Modal
        var employee = '';
        function LoadEmployeeDetailModal(employee_id) {
            var employee_json = $.ajax({
                url: '/api/hrm/employee/' + employee_id,
                type: "GET",
                dataType: "application/json",
                async: false,
                error: function (xhr, status, errorThrown) {
                }
            }).responseText;
            employee = JSON.parse(employee_json);
            render_employee_detail(employee);
        }
    </script>
    <script>

        // Employee Directory Related Scripts
        //  Load Employee Information
        var all_employee_json = $.ajax({
            type: "GET",
            url: "/api/hrm/employee",
            dataType: "application/json",
            async: false,
            error: function (xhr, status, errorThrown) {
            }
        }).responseText;
        var all_employees = JSON.parse(all_employee_json);
        all_employees.forEach(function (employee) {
          var employment_status = 'EmploymentStatus';
          if (employee.employment_status) {
              var employment_status = employee.employment_status.name;
          }
          if(employment_status == "Working"){
            render_employee_grid(employee);
            render_employee_list(employee);
          }
        });

        // Department Filter
        function emp_dep_filter() {
            $('#employee_grid_view').html('');
            $('#employee_tbody_view').html('');
            all_employees.forEach(function (employee) {
                var department = 'Department';
                if (employee.department) {
                    var department = employee.department.name;
                }
                var designation = 'Designation';
                if (employee.designation) {
                    var designation = employee.designation.name;
                }
                var location = 'Location';
                if (employee.location) {
                    var location = employee.location.name;
                }
                var e_status = 'EmploymentStatus';
                if (employee.employment_status) {
                    var employment_status = employee.employment_status.name;
                }
                if ((location == $('#emp_location_select').val())&&(department == $('#emp_dep_select').val()) &&  (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())){
                    render_employee_grid(employee);
                    render_employee_list(employee);
                } else if(($('#emp_location_select').val()=="")&&(department == $('#emp_dep_select').val()) && (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if(($('#emp_location_select').val()=="")&&($('#emp_dep_select').val()=='') && (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if(($('#emp_location_select').val()=="")&&($('#emp_dep_select').val()=='') && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if((location==$('#emp_location_select').val())&&($('#emp_dep_select').val()=='') && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if((location==$('#emp_location_select').val())&&(department==$('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if(($('#emp_location_select').val()=="")&&(department == $('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if((location==$('#emp_location_select').val())&&($('#emp_dep_select').val()=='') && (designation == $('#emp_desg_select').val())) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if((location==$('#emp_location_select').val())&&(department == $('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='')) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if (($('#emp_location_select').val()=='')&&($('#emp_dep_select').val() == '')&& ($('#emp_desg_select').val() == '')&& ($('#emp_status_select').val()=='')) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if (($('#emp_location_select').val()=='')&&($('#emp_dep_select').val() == '')) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if ((department==$('#emp_dep_select').val())&&($('#emp_location_select').val()=='')) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if (($('#emp_dep_select').val()=='')&&(location==$('#emp_location_select').val())) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }else if ((location==$('#emp_location_select').val())&&(department==$('#emp_dep_select').val())) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }

            })
        }

        // Designation Filter
        function emp_desg_filter() {
            $('#employee_grid_view').html('');
            $('#employee_tbody_view').html('');
            all_employees.forEach(function (employee) {
              var department = 'Department';
              if (employee.department) {
                  var department = employee.department.name;
              }
              var designation = 'Designation';
              if (employee.designation) {
                  var designation = employee.designation.name;
              }
              var location = 'Location';
              if (employee.location) {
                  var location = employee.location.name;
              }
              var e_status = 'EmploymentStatus';
              if (employee.employment_status) {
                  var employment_status = employee.employment_status.name;
              }
              if ((location == $('#emp_location_select').val())&&(department == $('#emp_dep_select').val()) &&  (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())){
                  render_employee_grid(employee);
                  render_employee_list(employee);
              } else if(($('#emp_location_select').val()=="")&&(department == $('#emp_dep_select').val()) && (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if(($('#emp_location_select').val()=="")&&($('#emp_dep_select').val()=='') && (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if(($('#emp_location_select').val()=="")&&($('#emp_dep_select').val()=='') && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&($('#emp_dep_select').val()=='') && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&(department==$('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if(($('#emp_location_select').val()=="")&&(department == $('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&($('#emp_dep_select').val()=='') && (designation == $('#emp_desg_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&(department == $('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='')) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if (($('#emp_location_select').val()=='')&&($('#emp_dep_select').val() == '')&& ($('#emp_desg_select').val() == '')&& ($('#emp_status_select').val()=='')) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }

            })
        }

        // Location Filter
        function emp_location_filter() {
            $('#employee_grid_view').html('');
            $('#employee_tbody_view').html('');
            all_employees.forEach(function (employee) {
              var department = 'Department';
              if (employee.department) {
                  var department = employee.department.name;
              }
              var designation = 'Designation';
              if (employee.designation) {
                  var designation = employee.designation.name;
              }
              var location = 'Location';
              if (employee.location) {
                  var location = employee.location.name;
              }
              var e_status = 'EmploymentStatus';
              if (employee.employment_status) {
                  var employment_status = employee.employment_status.name;
              }
              if ((location == $('#emp_location_select').val())&&(department == $('#emp_dep_select').val()) &&  (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())){
                  render_employee_grid(employee);
                  render_employee_list(employee);
              } else if(($('#emp_location_select').val()=="")&&(department == $('#emp_dep_select').val()) && (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if(($('#emp_location_select').val()=="")&&($('#emp_dep_select').val()=='') && (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if(($('#emp_location_select').val()=="")&&($('#emp_dep_select').val()=='') && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&($('#emp_dep_select').val()=='') && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&(department==$('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if(($('#emp_location_select').val()=="")&&(department == $('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&($('#emp_dep_select').val()=='') && (designation == $('#emp_desg_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&(department == $('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='')) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if (($('#emp_location_select').val()=='')&&($('#emp_dep_select').val() == '')&& ($('#emp_desg_select').val() == '')&& ($('#emp_status_select').val()=='')) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if (($('#emp_location_select').val()=='')&&($('#emp_dep_select').val() == '')) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if (($('#emp_location_select').val()=='')&&(department==$('#emp_dep_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if ((location==$('#emp_location_select').val())&&($('#emp_dep_select').val()=='')) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if ((location==$('#emp_location_select').val())&&(department==$('#emp_dep_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }
            })
        }

        function emp_status_filter() {
            $('#employee_grid_view').html('');
            $('#employee_tbody_view').html('');
            all_employees.forEach(function (employee) {
              var department = 'Department';
              if (employee.department) {
                  var department = employee.department.name;
              }
              var designation = 'Designation';
              if (employee.designation) {
                  var designation = employee.designation.name;
              }
              var location = 'Location';
              if (employee.location) {
                  var location = employee.location.name;
              }
              var e_status = 'EmploymentStatus';
              if (employee.employment_status) {
                  var employment_status = employee.employment_status.name;
              }
              if ((location == $('#emp_location_select').val())&&(department == $('#emp_dep_select').val()) &&  (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())){
                  render_employee_grid(employee);
                  render_employee_list(employee);
              } else if(($('#emp_location_select').val()=="")&&(department == $('#emp_dep_select').val()) && (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if(($('#emp_location_select').val()=="")&&($('#emp_dep_select').val()=='') && (designation == $('#emp_desg_select').val()) && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if(($('#emp_location_select').val()=="")&&($('#emp_dep_select').val()=='') && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&($('#emp_dep_select').val()=='') && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&(department==$('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if(($('#emp_location_select').val()=="")&&(department == $('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='') && (employment_status == $('#emp_status_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&($('#emp_dep_select').val()=='') && (designation == $('#emp_desg_select').val())) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if((location==$('#emp_location_select').val())&&(department == $('#emp_dep_select').val()) && ($('#emp_desg_select').val()=='')) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }else if (($('#emp_location_select').val()=='')&&($('#emp_dep_select').val() == '')&& ($('#emp_desg_select').val() == '')&& ($('#emp_status_select').val()=='')) {
                  render_employee_grid(employee);
                  render_employee_list(employee);
              }
            })
        }

        // Name Search
        function employee_search(search_text) {
            $('#employee_grid_view').html('');
            $('#employee_tbody_view').html('');
            all_employees.forEach(function (employee) {
                var full_name = employee['full_name'].toUpperCase();
                if (full_name.includes(search_text.toUpperCase())) {
                    render_employee_grid(employee);
                    render_employee_list(employee);
                }
            })
        }

        // Render Grid
        function render_employee_grid(employee) {
            var department = 'Department';
            if (employee.department) {
                var department = employee.department.name;
            }
            var designation = 'Designation';
            if (employee.designation) {
                var designation = employee.designation.name;
            }
            var employee_div = `
                        <div class="col-md-6 col-lg-6 col-xlg-4">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-3 text-center">
                                    {% if request.user|has_group:"HR Assistant" %}
                                        <a href="#" data-toggle="modal" data-target="#employee_detail_modal" data-backdrop="static" data-keyboard="false" onclick="LoadEmployeeDetailModal(
                ${employee.id})"><img src="${ employee.photo }" onerror="this.src='/media/profiles/photo/default.png'" alt="user" class="img-circle img-responsive"></a>
                                    {% else %}
                                         <img src="${ employee.photo }" onerror="this.src='/media/profiles/photo/default.png'" alt="user" class="img-circle img-responsive">
                                    {% endif %}
                                    </div>
                                    <div class="col-md-8 col-lg-9">
                                        <h4 class="mb-0">${employee.full_name}</h4>
                                        <h7>${employee.employee_id}</h7><br>
                                        {% if request.user|has_group:"HR Assistant" %}
                                          <small>${designation} </small>
                                        {%endif%}
                                        <small>${department}</small>
                                        {% if request.user|has_group:"HR Assistant" %}
                                          <address>
                                              ${employee.address_1}, ${employee.address_city}, ${employee.address_state}, ${employee.address_zip}
                                              <br/>
                                              <br/>
                                              <abbr title="Phone"></abbr> ${employee.phone}
                                          </address>
                                        {%else%}
                                          <br/>
                                          <small>Email: ${employee.work_email}</small>
                                          <br/>
                                          <small>${employee.location.name}</small>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
            `;
            $('#employee_grid_view').append(employee_div);
        }

        // Render List
        function render_employee_list(employee) {
            var department = 'Department';
            if (employee.department) {
                var department = employee.department.name;
            }
            var designation = 'Designation';
            if (employee.designation) {
                var designation = employee.designation.name;
            }
            var employee_list_div = `
      <tr>
        <td>${employee.employee_id}</td>
        {% if request.user|has_group:"HR Assistant" %}
        <td><a href=" " data-toggle="modal" data-target="#employee_detail_modal" data-backdrop="static" data-keyboard="false" onclick="LoadEmployeeDetailModal(
                ${employee.id})"><img src="${employee.photo}
                " onerror="this.src='/media/profiles/photo/default.png'" alt="user" width="40" class="img-circle" /> ${
                employee.full_name}</a></td>
        {% else %}
        <td><img src="${employee.photo}
                " onerror="this.src='/media/profiles/photo/default.png'" alt="user" width="40" class="img-circle" /> ${
                employee.full_name}</td>
        {% endif %}
        <td>${employee.work_email}</td>
        {% if request.user|has_group:"HR Assistant" %}
          <td>+91-${employee.phone}</td>
        {%endif%}
        <td>${department}</td>
        <td>${employee.joining_date}</td>
      </tr>
    `;
            $('#employee_tbody_view').append(employee_list_div);
        }

        // Toggle Grid and List
        $('#toggle > span').click(function () {
            var ix = $(this).index();
            $('#employee_grid_view').toggle(ix === 0);
            $('#employee_list_view').toggle(ix === 1);
        });

        // Search box input type
        $('#search_box').on('input', function () {
            employee_search($(this).val());
        });

        // Initialize datatable for employee list view
        $('#employee_list_datatable').DataTable({
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
                'colvis'
            ]
        });

    </script>
{% endblock page_scripts %}
