{% load mist_tags %}
<style>
    .fc-unthemed .fc-today {
        border: 1px solid #f62d51;
        background: #01579B !important;
    }

    .fc-sat {
        background-color: #212F3C;
    }

    .fc-sun {
        background-color: #212F3C;
    }
    body {
    		font-family: 'Varela Round', sans-serif;
    	}
    	.modal-confirm {
    		color: #636363;
    		width: 325px;
    	}
    	.modal-confirm .modal-content {
    		padding: 20px;
    		border-radius: 5px;
    		border: none;
    	}
    	.modal-confirm .modal-header {
    		border-bottom: none;
            position: relative;
    	}
    	.modal-confirm h4 {
    		text-align: center;
    		font-size: 26px;
    		margin: 30px 0 -15px;
    	}
    	.modal-confirm .form-control, .modal-confirm .btn {
    		min-height: 40px;
    		border-radius: 3px;
    	}
    	.modal-confirm .close {
            position: absolute;
    		top: -5px;
    		right: -5px;
    	}
    	.modal-confirm .modal-footer {
    		border: none;
    		text-align: center;
    		border-radius: 5px;
    		font-size: 13px;
    	}
    	.modal-confirm .icon-box {
    		color: #fff;
    		position: absolute;
    		margin: 0 auto;
    		left: 0;
    		right: 0;
    		top: -70px;
    		width: 95px;
    		height: 95px;
    		border-radius: 50%;
    		z-index: 9;
    		background: #82ce34;
    		padding: 15px;
    		text-align: center;
    		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    	}
    	.modal-confirm .icon-box i {
    		font-size: 58px;
    		position: relative;
    		top: 3px;
    	}
    	.modal-confirm.modal-dialog {
    		margin-top: 80px;
    	}
        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
    		background: #82ce34;
    		text-decoration: none;
    		transition: all 0.4s;
            line-height: normal;
            border: none;
        }
    	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    		background: #6fb32b;
    		outline: none;
    	}
    	.trigger-btn {
    		display: inline-block;
    		margin: 100px auto;
    	}

</style>

<div class="col-lg-4 col-xlg-3 col-md-5  " id="Employee_Card_Modal">
</div>

<div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs profile-tab" id="profile-tab"  role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#general"
                                    role="tab">General</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contact" role="tab">Contact</a>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#job"
                                    role="tab">Job</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#bank"
                                    role="tab">Bank Details</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#entitle"
                                    role="tab">Entitlement</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attach"
                                    role="tab">Attachments</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attendance"
                                    role="tab">Attendance</a></li>

        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!--General Detail tab-->
            <div class="tab-pane active" id="general" role="tabpanel">
            </div>
            <!--Contact Detail tab-->
            <div class="tab-pane" id="contact" role="tabpanel">
            </div>
            <!--Job detail tab-->
            <div class="tab-pane" id="job" role="tabpanel">
            </div>
            <!--Bank detail tab-->
            <div class="tab-pane" id="bank" role="tabpanel">
            </div>
            <!--Entitlement tab-->
            <div class="tab-pane" id="entitle" role="tabpanel">
            </div>
            <!--Attachment tab-->
            <div class="tab-pane" id="attach" role="tabpanel">
                <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                              <form id="update_attach" class="form-horizontal form-material mt-5" role="form"
                                    enctype="multipart/form-data">
                                {% if request.user|has_group:"HR Assistant" %}
                                    <div class="form-group">
                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                            <div data-trigger="fileinput"><i
                                                    class="glyphicon glyphicon-file fileinput-exists"></i> <span
                                                    class="fileinput-filename"></span></div>
                                            <span class="input-group-addon btn btn-default btn-file"> <span
                                                    class="fileinput-new">Select file</span>
                            <input type="file" id="file" accept=".JPEG, .png, .pdf" required
                                   data-validation-required-message="This field is required" name="photo"> </span>
                                            <p></p>
                                            <div class="float-right" style="margin-left: 10px">
                                                <select id="fileType" class="form-control" required
                                                        data-validation-required-message="This field is required">
                                                    <option value="">File Type</option>
                                                    {% for attachment in attachments %}
                                                        <option value="{{ attachment.name }}">{{ attachment.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div id="forid" class="col-sm-6">
                                            </div>
                                        </div>
                                    </div>
                                  </form>
                                    <hr class="mt-0 mb-5">
                                {% endif %}
                                <div class="table-responsive m-t-40">
                                    <table id="attachments_datatable" class="table table-bordered table-hover">

                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <!--Attendance tab-->
            <div class="tab-pane" id="attendance" role="tabpanel">
                <!--DAY INFO MODAL-->
                <div class="modal fade" id="day_info_modal" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">DAY INFO</h4>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive m-t-50">
                                    <table id="dayInfoTable" class="display table table-bordered table-hover" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>IO</th>
                                            <th>DOOR</th>
                                            <th>TIME</th>
                                            <th>TYPE</th>
                                            <th>EDIT</th>
                                        </tr>
                                        </thead>
                                        <tbody id="day_info_tbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Attendance information table-->
                <div class="chart-body">
                    <div class="chart-header">
                        <center><h3 id="selected_date_display" class="card-title text-white">DATE</h3></center>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="attendance-calendar" class="fc fc-unthemed fc-ltr"></div>
                        </div>
                        <div class="col">
                            <div class="card text-white bg-primary">
                                <div class="card-body">
                                    <center><h3 class="card-title text-white"><b>Total Hours</b></h3>
                                        <p id="total" class="card-text"></p></center>
                                </div>
                            </div>
                            <div class="card text-white bg-info">
                                <div class="card-body">
                                    <center><h3 class="card-title text-white"><b>Actual Hours</b></h3>
                                        <p id="actual" class="card-text"></p></center>
                                </div>
                            </div>
                            <div class="card text-white bg-danger">
                                <div class="card-body">
                                    <center><h3 class="card-title text-white"><b>Incomplete Actual Hours</b></h3>
                                        <p id="non_completed" class="card-text"></p></center>
                                </div>
                            </div>
                            <div class="card text-white bg-success">
                                <div class="card-body">
                                    <center><h3 class="card-title text-white"><b>Additional Hours</b></h3>
                                        <p id="additional" class="card-text"></p></center>
                                </div>
                            </div>
                            <button class="btn btn-light" id="view_io_list" style="width: 100%;" onclick="get_io_info()">View IO</button>
                        </div>
                    </div>
                    <div class="table-responsive m-t-40">
                        <div class="dataTables_wrapper dt-bootstrap4">
                            <table id="monthInfoTable" class="display table table-striped table-bordered dataTable"
                                   width="100%" style="width: 100%;">
                                <!-- SAMPLE DATA -->
                                <thead class="bg-warning text-white">
                                <tr>
                                    <th>PARTICULARS</th>
                                    <th>DEFAULT</th>
                                    <th>TARGET</th>
                                    <th>CURRENT</th>
                                    <th>INCOMPLETE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" class='odd'>
                                    <td>Total Working Hours</td>
                                    <td id="total_default"></td>
                                    <td id="total_target"></td>
                                    <td id="total_current"></td>
                                    <td id="total_incomplete"></td>
                                </tr>
                                <tr role="row" class='even'>
                                    <td>Actual Working Hours</td>
                                    <td id="actual_default"></td>
                                    <td id="actual_target"></td>
                                    <td id="actual_current"></td>
                                    <td id="actual_incomplete"></td>
                                </tr>
                                <tr role="row" class='odd'>
                                    <td>Working Days</td>
                                    <td id="days_default"></td>
                                    <td id="days_target"></td>
                                    <td>-</td>
                                    <td id="days_incomplete"></td>
                                </tr>
                                </tbody>
                                <!-- SAMPLE DATA END -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="successModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>
				<h4 class="modal-title">Awesome!</h4>
			</div>
			<div class="modal-body">
				<p class="text-center">Updated Successfully</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-target="#employee_detail_modal" data-dismiss="modal" >OK</button>
			</div>
		</div>
	</div>
</div>

<script>
    function get_io_info(){
        DailyInOutInformation(employee.employee_id, document.getElementById('selected_date_display').innerHTML);
    }
</script>
