{% extends 'main/base.html' %}
{% load mist_tags %}
{% block bread_crumb %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Holidays</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">HRM</a></li>
                <li class="breadcrumb-item active">Holidays</li>
            </ol>
        </div>
    </div>

    <link rel='stylesheet' href='/static/third_party/DataTables/datatables.min.css' type="text/css"/>
    <link rel='stylesheet' href='/static/third_party/DataTables/Buttons-1.5.6/css/buttons.dataTables.min.css'
          type="text/css"/>

    <!--    Add Event Modal-->
    <link href="/static/template/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/static/template/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <div id="add_event_modal" class="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Event</h3>
                </div>
                <div class="modal-body">
                    <form id="add_event_form">
                        <div class="form-group">
                            <label for="event_name" class="control-label">Event Name :</label>
                            <input type="text" class="form-control" id="event_name" required/>
                        </div>
                        <div class="form-group">
                            <label>Select Dates</label>
                            <div class='input-group mb-3'>
                                <input type='text' id="event-date-range" class="form-control shawCalRanges" required/>
                                <div class="input-group-append">
                                <span class="input-group-text">
                                    <span class="ti-calendar"></span>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="event_color">Event Color :</label>
                          <input type="color" id="event_color" value="#000000">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success waves-effect waves-light" data-dismiss="modal" id="save_event_btn" onclick="add_event()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT EVENT MODAL -->
    <div id="edit_event_modal" class="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Event</h3>
                </div>
                <div class="modal-body">
                    <form id="edit_event_form">
                        <div class="form-group">
                            <label for="edit_event_name" class="control-label">Event Name :</label>
                            <input type="text" class="form-control" id="edit_event_name" required/>
                        </div>
                        <div class="form-group">
                            <label>Select Dates</label>
                            <div class='input-group mb-3'>
                                <input type='text' id="edit-event-date-range" class="form-control shawCalRanges" required/>
                                <div class="input-group-append">
                                <span class="input-group-text">
                                    <span class="ti-calendar"></span>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="edit_event_color">Event Color :</label>
                          <input type="color" id="edit_event_color">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success waves-effect waves-light" data-dismiss="modal" id="save_event_btn" onclick="add_event()">Save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock bread_crumb %}

{% block content %}

    <div class="row">
        <div class="col">
            <div id="holiday-calendar" class="fc fc-unthemed fc-ltr"></div>
        </div>
        <div class="col">
            <table id="dayInfoTable" class="display table table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Date / Range</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody id="day_info_tbody"></tbody>
            </table>
        </div>
    </div>

{% endblock content %}

{% block page_scripts %}
    <!-- Date range Plugin JavaScript -->
    <script src="/static/template/assets/plugins/moment/moment.js"></script>
    <script src="/static/template/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="/static/template/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Data table -->
    <script src="/static/third_party/DataTables/datatables.min.js"></script>
    <script src="/static/third_party/DataTables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="/static/third_party/DataTables/Buttons-1.5.6/js/buttons.colVis.min.js"></script>
    <!--Mist Core JavaScript -->
    <script src="/static/mist/core.js"></script>
    <script>
        var start = moment();
        var end = moment();

        function cb(start, end) {
        }

        // Always Show Calendar on Ranges
        $('.shawCalRanges').daterangepicker({
            alwaysShowCalendars: true,
        },cb);
        cb(start, end);

        function edit_event(event){
          document.getElementById('edit_event_name').value = event.title;
          $("#edit-event-date-range").data('daterangepicker').startDate = event.start;
          $("#edit-event-date-range").data('daterangepicker').endDate = event.end;
          document.getElementById('edit_event_color').value = event.backgroundColor;
          $('#edit_event_modal').modal('show');
        }
    </script>
    <script>

        var calendar;
        var user_location;

        document.addEventListener('DOMContentLoaded', function () {
            //FUNCTION TO GET INFO OF USER LOCATION
            var employee_json = $.ajax({
                url: '/api/hrm/employee/' + {{ user.id }},
                type: "GET",
                dataType: "application/json",
                async: false,
                error: function (xhr, status, errorThrown) {
                }
            }).responseText;
            var employee = JSON.parse(employee_json);
            user_location = employee.location;

            //TO LOAD CALENDAR
            var calendarEl = document.getElementById('holiday-calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'bootstrap'],
                editable: true,
                selectable: true,
                themeSystem: 'bootstrap',
                eventClick: function(info){
                  edit_event(info.event);
                },
                //FOR ADD EVENT BUTTON
                header: {
                  center: 'addEventButton'
                },
                customButtons: {
                  addEventButton: {
                    text: 'Add Event',
                    icon: 'ti-plus',
                    click: function() {
                        $('#add_event_modal').modal('show');
                     }
                  }
                },
                select: function (info){
                }
            });

            //TO RENDER EXISTING EVENTS
            var holidays_json = $.ajax({
                url: '/api/hrm/holidays/' + user_location + '/?month=05',
                type: "GET",
                dataType: "application/json",
                async: false,
                error: function (xhr, status, errorThrown) {
                }
            }).responseText;
            var holidays = JSON.parse(holidays_json);
            holidays.forEach(function(holiday){
              var event = {
                  title: holiday['event_name'],
                  start: holiday['start_date'],
                  end: holiday['end_date'],
                  allDay: true,
                  backgroundColor: holiday['event_color']
              };
              calendar.addEvent(event);
            });
            calendar.render();
        });
    </script>
    <script>
        function add_event(){
            var event_start_date = $("#event-date-range").data('daterangepicker').startDate;
            var event_end_date = $("#event-date-range").data('daterangepicker').endDate;
            //PARSE INPUT INTO EVENT
            var event = {
                title: document.getElementById('event_name').value,
                start: event_start_date.format('YYYY-MM-DD'),
                end: moment(event_end_date).add(1, 'd').format('YYYY-MM-DD'),
                backgroundColor: document.getElementById('event_color').value
            };
            //PARSE INPUT INTO POST DATA
            var post_data = {
              event_name: event['title'],
              start_date: event_start_date.format('YYYY-MM-DD HH:mm:ss'),
              end_date: event_end_date.format('YYYY-MM-DD HH:mm:ss'),
              location: user_location,
              event_color: event['backgroundColor']
            };
            //SAVE EVENT DATA TO DB
            var holidays_post = $.ajax({
                url: '/api/hrm/holidays/' + user_location + '/',
                type: "POST",
                data: post_data,
                error: function (xhr, status, errorThrown) {
                },
                success: function(info){
                }
            });
            //RENDER CALENDAR AGAIN WITH CHANGES
            calendar.addEvent(event);
            calendar.render();
            $('#add_event_modal').modal('hide');
        }


    </script>

{% endblock page_scripts %}
