{% extends 'main/base.html' %}
{% load mist_tags %}

{% block bread_crumb %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Leaves</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">HRM</a></li>
                <li class="breadcrumb-item active">Leaves</li>

            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <button style="margin-left: 10px" class="btn float-right hidden-sm-down btn-success" data-toggle="modal"
                    data-target="#apply-leave-modal" data-backdrop="static" data-keyboard="false"><i
                    class="mdi mdi-plus-circle"></i> Apply
            </button>
            {% if request.user|has_group:"Production"  %}
                <div class="float-right" style="margin-left: 10px">
                    <select id="department" onchange="filter_by_department();" class="form-control">
                        <option value="ALL">Department</option>
                        {% for department in department %}
                            <option value="{{ department.name }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="float-right" style="margin-left: 10px">
                    <select id="designation" onchange="filter_by_designation();" class="form-control">
                        <option value="ALL">Designation</option>
                        {% for designation in designation %}
                            <option value="{{ designation.name }}">{{ designation.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {%elif request.user|has_group:"Leads"%}
                <div class="float-right" style="margin-left: 10px">
                    <select id="department" onchange="filter_by_department();" class="form-control">
                        <option value="ALL">Department</option>
                        {% for department in department %}
                            <option value="{{ department.name }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="float-right" style="margin-left: 10px">
                    <select id="designation" onchange="filter_by_designation();" class="form-control">
                        <option value="ALL">Designation</option>
                        {% for designation in designation %}
                            <option value="{{ designation.name }}">{{ designation.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {%elif request.user|has_group:"HR Assistant"%}
                <div class="float-right" style="margin-left: 10px">
                    <select id="department" onchange="filter_by_department();" class="form-control">
                        <option value="ALL">Department</option>
                        {% for department in department %}
                            <option value="{{ department.name }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="float-right" style="margin-left: 10px">
                    <select id="designation" onchange="filter_by_designation();" class="form-control">
                        <option value="ALL">Designation</option>
                        {% for designation in designation %}
                            <option value="{{ designation.name }}">{{ designation.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {%endif%}

        </div>
    </div>


    <!-- Apply Leave Modal -->
    <link href="/static/template/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/static/template/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <div class="modal fade" id="apply-leave-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Leave Application Form</h4>
                </div>
                <div class="modal-body">
                    <form id="apply_leave_form" class="mt-5" novalidate action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Select Dates</label>
                            <div class='input-group mb-3'>
                                <input type='text' id="leave-date-range" class="form-control" required/>
                                <div class="input-group-append">
                                <span class="input-group-text">
                                    <span class="ti-calendar"></span>
                                </span>
                                </div>
                            </div>
                        </div>

                        <p>Days Selected <span id="selected-days">0</span></p>
                        <div class="gantt_control">
                            <div class="form-group">
                                <label for="reason_textarea">Earned Leaves</label>
                                <input type="number" class="form-control" id="EL_INPUT" rows="3"
                                       placeholder="Available {{ entitlements.el_leaves }} Days">
                            </div>

                            <div class="form-group">
                                <label for="reason_textarea">Casual Leaves</label>
                                <input type="number" class="form-control" id="CL_INPUT" rows="3"
                                       placeholder="Available {{ entitlements.cl_leaves }} Days">
                            </div>

                            <div class="form-group">
                                <label for="reason_textarea">Loss of Pay</label>
                                <input class="form-control" id="LOP_INPUT" rows="3" placeholder="Available">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="reason_textarea">Reason</label>
                            <textarea class="form-control" id="reason_textarea" rows="3" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="leave_apply_submit" onclick="apply_leave();"
                                    class="btn btn-success btn-rounded" disabled>
                                <i class="fas fa-check"></i>
                                Submit
                            </button>
                            <button type="button" class="btn btn-rounded btn-dark" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
{% endblock bread_crumb %}

{% block content %}
    <link href="/static/template/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/static/template/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <!--  Displaying Calendar -->
    <link href="/static/third_party/googlefonts/googlefonts.css" rel="stylesheet">
    <style>
        .gantt_task_cell.week_end {
            background-color: #6b8082;
        }

        .gantt_task_row.gantt_selected .gantt_task_cell {
            background-color: rgba(0, 199, 181, .2);
        }

        .rejected {
            border: 2px solid #d96c49;
            color: #db2536;
            background: #db2536;
        }

        .leadapproved {
            border: 2px solid #FB8C00;
            color:#FB8C00;
            background: #FB8C00;
        }
        .productionapproved {
            border: 2px solid #34c461;
            color: #34c461;
            background: #34c461;
        }

        .pending {
            border: 2px solid #6ba8e3;
            color: #6ba8e3;
            background: #6ba8e3;
            font-family: "Rubik", sans-serif;
        }

        .dhtmlxcalendar_dhx_skyblue, .dhtmlxcalendar_dhx_web, .dhtmlxcalendar_dhx_terrace {
            z-index: 999999 !important;
        }

        .filters_wrapper {
            font: 600 14px Roboto;
            text-align: left;
        }

        .calendars {
            text-align: right;
            margin-top: -30px;
            margin-right: 10px;
        }

        .filters_wrapper span {
            font-weight: bold;
            padding-right: 5px;

        }

        .filters_wrapper label {
            padding-right: 3px;
            color: #747d8a !important;
        }

        .gantt_control {
            width: 100%;
            background-color: #272c33;
            font-family: "Rubik", sans-serif;
            border: 1px solid;
            border-color: #050505 !important;
        }

        .gantt_data_area {
            color: #747d8a !important;
            font-family: "Rubik", sans-serif !important;
            background-color: #272c33;
        }

        .gantt_task {
            color: #747d8a !important;
            background-color: #272c33;
            font-family: "Rubik", sans-serif !important;
        }

        .gantt_task_scale {
            color: #747d8a !important;
            background-color: #272c33;
            font-family: "Rubik", sans-serif !important;
            border-color: #050505 !important;
        }

        .gantt_task_cell {
            background-color: #272c33;
            font-family: "Rubik", sans-serif !important;
            color: #747d8a !important;
            border-color: #050505 !important;
        }

        .gantt_grid_scale {
            color: #747d8a !important;
            background-color: #272c33;
            font-family: "Rubik", sans-serif !important;
            border-color: #050505 !important;
        }

        .gantt_row {
            font-family: "Rubik", sans-serif !important;
            color: #747d8a !important;
            background-color: #272c33;
            border-color: #050505 !important;
        }

        .gantt_row.odd {
            font-family: "Rubik", sans-serif !important;
            color: #747d8a !important;
            background-color: #272c33;
        }

        .gantt_scale_line {
            color: #747d8a !important;
            font-family: "Rubik", sans-serif !important;
            border-color: #050505 !important;
        }

        .gantt_container {
            color: #747d8a !important;
            background-color: #272c33;
            font-family: "Rubik", sans-serif !important;
            border-color: #050505 !important;
        }

        .gantt_scale_cell {
            color: #747d8a !important;
            border-color: #050505 !important;
        }

        .gantt_grid_head_cell {
            color: #747d8a !important;
        }

        .gantt_cell {
            font-family: "Rubik", sans-serif !important;
            color: #747d8a !important;
        }

        .gantt_data_area .gantt_task_row:last-child, .gantt_grid_data .gantt_row:last-child {
            border-color: #050505;
        }
    </style>
    <div class="container-fluid">
        <div id="body">
            <h5>Leaves Data</h5>
            <div class='input-group mb-3'>
                <input type='text' class="form-control shawCalRanges"/>
                <div class="input-group-append">
        <span class="input-group-text">
          <span class="ti-calendar"></span>
        </span>
                </div>
            </div>
            <div class="gantt_control">
                <div class="filters_wrapper" id="filters_wrapper">
                    <label class="checked_label" id="scale1">
                        <input type="checkbox" class="gantt_radio" name="1" value="1" checked/>
                        <i class="material-icons icon_color">check_box</i>Applied
                    </label>

                    <label class="checked_label" id="scale2">
                        <input type="checkbox" class="gantt_radio" name="2" value="1" checked/>
                        <i class="material-icons icon_color">check_box</i>Pending
                    </label>

                    <label class="checked_label" id="scale3">
                        <input type="checkbox" class="gantt_radio" name="3" value="1" checked/>
                        <i class="material-icons icon_color">check_box</i>Lead Approved
                    </label>
                    <label class="checked_label" id="scale4">
                        <input type="checkbox" class="gantt_radio" name="4" value="1" checked/>
                        <i class="material-icons icon_color">check_box</i>Rejected
                    </label>
                    <label class="checked_label" id="scale4">
                        <input type="checkbox" class="gantt_radio" name="5" value="1" checked/>
                        <i class="material-icons icon_color">check_box</i>Production Approved
                    </label>
                    <button onclick="show_hide_grid()" style="background-color: #272c33; color: #747d8a ">Chart</button>
                    <button onclick="show_hide_chart()" style="background-color: #272c33; color: #747d8a ">Details
                    </button>
                </div>
            </div>

            <div class="card" id="gantt_here" style="width:100%; height:580px;">
            </div>
        </div>
    </div>

{% endblock content %}

{% block page_scripts %}
    <!-- Date range Plugin JavaScript -->
    <script src="/static/template/assets/plugins/moment/moment.js"></script>
    <script src="/static/template/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="/static/template/assets/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- <script src="codebase/ext/dhtmlxgantt_tooltip.js"></script> -->
    <script>

        var start = moment().startOf('month');
        var end = moment().endOf('month');
        function dateRange(start, end) {
            gantt.config.start_date = new Date(start);
            gantt.config.end_date = new Date(end);
            gantt.refreshData();
        }
        // Always Show Calendar on Ranges
        $('.shawCalRanges').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            alwaysShowCalendars: true,
        }, dateRange);
        dateRange(start, end);

        // Adding filters by status
        var filter_inputs = document.getElementById("filters_wrapper").getElementsByTagName("input");
        for (var i = 0; i < filter_inputs.length; i++) {
            var filter_input = filter_inputs[i];

            // attach event handler to update filters object and refresh data (so filters will be applied)
            filter_input.onchange = function () {
                gantt.refreshData();
                updIcon(this);
            }
        }
        function hasPriority(parent, leave_status) {
            if (gantt.getTask(parent).leave_status.id == leave_status)

                return true;

            var child = gantt.getChildren(parent);
            for (var i = 0; i < child.length; i++) {
                if (hasPriority(child[i], leave_status.id))

                    return true;
            }
            return false;
        }
        gantt.attachEvent("onBeforeTaskDisplay", function (id, task) {
            for (var i = 0; i < filter_inputs.length; i++) {
                var filter_input = filter_inputs[i];
                if (filter_input.checked) {
                    if (hasPriority(id, filter_input.name)) {
                        return true;
                    }
                }
            }
            return false;
        });
        // End of Filters
        //Adding Duration Range in Lightbox with Calendars
        // var duration = function (a, b, c) {
        //     var res = gantt.calculateDuration(a.getDate(false), b.getDate(false));
        //     c.innerHTML = res + ' days';
        // };
        // Removing extra date moving
        gantt.attachEvent("onGanttReady", function (start, end, task) {
            var task_end_date = function (date) {
                return gantt.templates.task_date(gantt.date.add(date, 0, gantt.config.duration_unit));
            };
            var task_date = gantt.templates.task_date;
            gantt.templates.task_time = function (start, end, task) {
                return task_date(start) + " - " + task_end_date(end);
            };

            // Adding Left Side Grid
            gantt.config.columns = [
                {
                    name: "employee", label: "Name", resize: true,
                    template: function (obj) {
                        return obj.employee.full_name;
                    }
                },
                {
                    name: "department", label: "Dep", resize: true,
                    template: function (obj) {
                        return obj.employee.department;
                    }
                },
                {name: "creation_date", label: "Applied Date", "resize": true},

                {
                    name: "leave_status", label: "Status", align: "center",
                    template: function (obj) {
                        return obj.leave_status.name;
                    }
                },
            ];

            gantt.templates.task_class = function (start, end, task) {
                if (task.leave_status.id == 1) {
                    return "applied";
                } else if (task.leave_status.id == 2) {
                    return "pending";
                } else if (task.leave_status.id == 3) {
                    return "leadapproved";
                } else if (task.leave_status.id == 4) {
                    return "rejected";
                }else if (task.leave_status.id == 5) {
                    return "productionapproved";
                }
            }
        });
        // Adding label names Status Priorities
        gantt.locale.labels.section_leave_status = "Status";
        gantt.locale.labels.section_reason = "Reason";
        gantt.locale.labels.section_period = "Leave Period";
        // Adding Status options for lightbox
        var leave_status = [
            {% for leave in leave_status %}
                {key: "{{ leave.id }}", label: "{{leave}}"},
            {% endfor %}
        ];
        gantt.config.lightbox.sections = [
            {name: "reason", height: 38, map_to: "reason", type: "template", focus: true},
            {% if request.user|has_group:"HR Assistant" or request.user|has_group:"Leads" or request.user|has_group:"Production"%}
                {
                    name: "leave_status", height: 62, map_to: "leave_status", type: "select", options: leave_status
                },
                {
                    name: "period",
                    height: 72,
                    map_to: {start_date: "start_date", end_date: "end_date"},
                    type: "time"
                }
            {% else%}
              {
                  name: "leave_status", height: 62, map_to: "leave_status", type: "template"
              },
            {% endif %}
        ];

        // For getting the Status Name in Lightbox
        gantt.attachEvent("onBeforeLightbox", function(id) {
          var task = gantt.getTask(id);
          task.leave_status = task.leave_status.name;
          return true;
        });

        gantt.attachEvent("onLightboxCancel", function(id){
            //any custom logic here
            gantt.hideLightbox();
            gantt.reload();
            // location.reload();
        })
        // Adding Calendar on Scale
        var holidays = [ //Indian public holidays
            new Date(2019, 0, 1),
            new Date(2019, 0, 14),
            new Date(2019, 0, 15),
            new Date(2019, 0, 26),
            new Date(2019, 3, 19),
            new Date(2019, 4, 1),
            new Date(2019, 7, 15),
            new Date(2019, 8, 2),
            new Date(2019, 9, 2),
            new Date(2019, 9, 7),
            new Date(2019, 9, 28),
            new Date(2019, 9, 29),
            new Date(2019, 11, 25)
        ];
        for (var i = 0; i < holidays.length; i++) {
            gantt.setWorkTime({
                date: holidays[i],
                hours: false
            });
        }
        gantt.config.subscales = [
            {unit: "month", step: 1, date: "%F, %Y"},
            // {unit: "week", step: 1, template: weekScaleTemplate}
        ];
        gantt.templates.task_cell_class = function (task, date) {
            if (!gantt.isWorkTime(date))
                return "week_end";
            return "";
        };
        // Settings of Calendar Scale
        gantt.config.work_time = true;
        gantt.config.correct_work_time = true;
        gantt.config.scale_unit = "day";
        gantt.config.date_scale = "%D, %d";
        gantt.config.min_column_width = 60;
        gantt.config.duration_unit = "day";
        gantt.config.scale_height = 20 * 4;
        gantt.config.row_height = 30;
        // End of Calendar
        // Adding text and duration on Task template
        gantt.templates.task_text = function (start, end, task) {
            return "<span style='text-align:left;'>" + task.employee.full_name + " - " + gantt.calculateDuration(new Date(task.start_date), new Date(task.end_date)) + "days" + "</span>";
        };
        // Adding reason to right side of Task template
        gantt.templates.rightside_text = function (start, end, task) {
            return "<span style='text-align:left;color: #cec2c2;  '>" + "Reason:" + task.reason + "</span>";
        };
        // Adding extra configurations and removing some defaults
        gantt.config.show_errors = false;
        gantt.config.show_grid = true;
        // changing the height of lightbox
        gantt.config.lightbox_additional_height = 120;
        gantt.config.fit_tasks = true;
        // Disabling the resizing of task template
        gantt.config.drag_resize = false;
        // Disabling progess on task template
        gantt.config.drag_progress = false;
        // Disabling the movable option
        gantt.config.drag_move = false;
        // Disabling the links of task templates
        gantt.config.drag_links = false;
        gantt.config.xml_date = "%Y-%m-%d %H:%i";
        // Filter by Department
        function filter_by_department() {
            gantt.attachEvent("onBeforeTaskDisplay", function (id, task) {
                var department = document.getElementById("department").value;
                if (task.employee.department == department || department == 'ALL') {
                    return true;
                }
            });
            gantt.render();
        }
        // Filter by Designation
        function filter_by_designation() {
            gantt.attachEvent("onBeforeTaskDisplay", function (id, task) {
                var designation = document.getElementById("designation").value;
                if (task.employee.designation == designation || designation == 'ALL') {
                    return true;
                }
            });
            gantt.render();
        }
        // Name Search
        function employee_search(search_text) {
            gantt.attachEvent("onBeforeTaskDisplay", function (id, task) {
                var full_name = task.employee.full_name.toUpperCase();
                if (full_name.includes(search_text.toUpperCase())) {
                    return true;
                }
                return false;
            });
            gantt.render();
        }
        // Search box input type
        $('#search_box').on('input', function () {
            employee_search($(this).val());
        });
        // Initiating the gantt on div
        gantt.init("gantt_here");
        $.get("/api/hrm/leaves/employee/", function (data) {
            gantt.parse({'data': data});
        });
        // Updating the leave status of an employee
        gantt.attachEvent("onLightboxSave", function (id, task) {
            var status = gantt.getLightboxSection('leave_status').getValue();
            var duration = gantt.getLightboxSection('period');
            var total = duration.getValue();
            var start_date = start_date_convert(total.start_date);
            var end_date = end_date_convert(total.end_date);
            $.ajax({
                url: '/api/hrm/leaves/' + task.id + '/',
                type: "PUT",
                dataType: 'application/json',
                data: {
                    "leave_status": status,
                    "start_date": start_date,
                    "end_date": end_date,
                },
            });
            $.get("/api/hrm/leaves/employee/", function (data) {
                gantt.parse({'data': data});
            });
            // creating an error message box
            gantt.message({type:"success", text:"Updated successfully"});
            return true;
        });
        function start_date_convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);

            d = date.getFullYear() + "-" + mnth + "-" + day + " " +0+1 + ":"+0+1 + ":"+0+1;
            return d;
        }
        function end_date_convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);

            f = date.getFullYear() + "-" + mnth + "-" + day + " " + 23 + ":" + 59 + ":" + 59;
            return f;
        }
        // updating Icon color of checkbox(status)
        function updIcon(el) {
            el.parentElement.classList.toggle("checked_label");
            var iconEl = el.parentElement.querySelector("i"),
                checked = "check_box",
                unchecked = "check_box_outline_blank",
                className = "icon_color";

            iconEl.textContent = iconEl.textContent == checked ? unchecked : checked;
            iconEl.classList.toggle(className);
        }
        function show_hide_chart() {
            gantt.config.show_chart = !gantt.config.show_chart;
            gantt.render();
        }
        function show_hide_grid() {
            gantt.config.show_grid = !gantt.config.show_grid;
            gantt.render();
        }
    </script>

    <script>
        // Validation script
        !function (window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation()
        }(window, document, jQuery);
    </script>

    <script>

        function date_convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);

            d = [date.getFullYear() + "-" + mnth + "-" + day];
            return d;
        }

        // APPLY LEAVE FUNCTIONS
        var duration;
        var el = 0;
        var cl = 0;
        var lop = 0;
        var url = "/api/hrm/leaves/employee/"+{{user.id}}+"/";
        var all_leaves_json = $.ajax({
            type: "GET",
            url: url,
            dataType: "application/json",
            async: false,
            error: function (xhr, status, errorThrown) {
            },
            success: function(xhr,data,url){
            }
        }).responseText;
        var all_leaves = JSON.parse(all_leaves_json);
        var s= "";
        var e = "";
        all_leaves.forEach(function(leaves){
          s = leaves.start_date;
          e = leaves.end_date;
        })
        var num_leave_applied = all_leaves.length;
        var applied_counter = 0;
        var disabled_start = "";
        var disabled_end = "";
        var temp_start_date = new Date(2000, 0, 1);
        var temp_end_date = new Date(2000, 0, 1);
        $('#leave-date-range').daterangepicker({
            startDate: start,
            endDate: end,
            alwaysShowCalendars: true,
            isInvalidDate: function done(date) {
              for(var i=0; i<num_leave_applied; i++){
                temp_start_date = new Date(all_leaves[i].start_date);
                temp_end_date = new Date(all_leaves[i].end_date);
                while(moment(temp_start_date).format('MM/DD/YYYY') !== moment(temp_end_date).format('MM/DD/YYYY')){
                  temp_start_date.setDate(temp_start_date.getDate() + 1);
                  if(date.format('MM/DD/YYYY') === moment(temp_start_date).subtract(1, 'd').format('MM/DD/YYYY')){
                   return true
                  }
                }
              }
            },
        });

        var getDateArray = function (start, end) {
            var
                arr = new Array(),
                dt = new Date(start);
            while (dt <= end) {
                var date = new Date(dt)
                arr.push(date_convert(date));
                dt.setDate(dt.getDate() + 1);
            }
            return arr;
        }

        function get_sat_sun(year) {
            // all sundays
            var sun = new Date(year, 0, 1);
            while (sun.getDay() != 0) {
                sun.setDate(sun.getDate() + 1);
            }
            var sundays = [];
            while (sun.getFullYear() == year) {
                var m = sun.getMonth() + 1;
                var d = sun.getDate();
                sundays.push(
                    year + '-' +
                    (m < 10 ? '0' + m : m) + '-' +
                    (d < 10 ? '0' + d : d)
                );
                sun.setDate(sun.getDate() + 7);
            }

            // 1st and 3rd saturdays
            var sat = new Date(year, 0, 1);
            //while (sat.getDay() != 6) {
            //    sat.setDate(sat.getDate() + 1);
            //}
            var saturdays = [];
            var sat_months = sat.getMonth();
            var c = 1; var cur_month = 1;
            while (sat.getFullYear() == year) {
                if(c === 1){
                    while (sat.getDay() != 6) {
                        sat.setDate(sat.getDate() + 1);
                        cur_month = sat.getMonth()+1;
                    }
                    c = c+1;
                }
                else if(c === 2){
                    sat.setDate(sat.getDate() + 14);
                    sat_months = sat.getMonth() + 1;
                    c = c+1;
                }
                else{
                    while(cur_month === sat.getMonth()+1){
                        sat.setDate(sat.getDate() + 1);
                    }
                    cur_month = sat.getMonth();
                    c = 1;
                }
            }
            return sundays.concat(saturdays);
        }

        function check_leave_duplication(start, end){
          start = new Date(start);
          var selected_dates_array = [];
          while(moment(start).format('DD/MM/YYYY') !== moment(end).format('DD/MM/YYYY')){
            selected_dates_array.push(moment(start).format('DD/MM/YYYY'));
            start.setDate(start.getDate() + 1);
          }
          for(var i=0; i<all_leaves.length; i++){
            var val = selected_dates_array.includes(moment(all_leaves[i].start_date).format('DD/MM/YYYY'));
            if (val === true){
              alert("Selected Dates are already in Leave Applied Dates, Please Select Appropriate Dates");
              document.getElementById("EL_INPUT").disabled = true;
              document.getElementById("CL_INPUT").disabled = true;
              document.getElementById("LOP_INPUT").disabled = true;
              return 1;
            }
          }
          document.getElementById("EL_INPUT").disabled = false;
          document.getElementById("CL_INPUT").disabled = false;
          document.getElementById("LOP_INPUT").disabled = false;
        }

        $('#leave-date-range').on('apply.daterangepicker', function (ev, picker) {
            var startDate = $("#leave-date-range").data('daterangepicker').startDate;
            var endDate = $("#leave-date-range").data('daterangepicker').endDate;
            check_leave_duplication(startDate, endDate);
            window.duration = endDate.diff(startDate, 'days') + 1;
            if(duration < 6){
                var dates = getDateArray(startDate, endDate);
                var sat_sun = get_sat_sun(startDate.format('YYYY'));
                // Adding Calendar on Scale
                var holidays = [ //Indian public holidays
                    "2019-01-01","2019-01-14","2019-01-15","2019-01-26","2019-04-19","2019-05-01","2019-08-15","2019-08-02","2019-11-02","2019-10-07","2019-10-28","2019-10-29","2019-12-25"
                ];
                var holiday =sat_sun.concat(holidays);
                for (i in dates) {
                    for (j in holiday) {
                        if (dates[i] == holiday[j]) {
                            window.duration = window.duration - 1;
                        }
                    }
                }
            }
            $("#selected-days").text(duration);
        });

        function validate() {
            if (duration === el + cl + lop) {
                document.getElementById("leave_apply_submit").disabled = false;
            } else {
                document.getElementById("leave_apply_submit").disabled = true;
            }
        }

        EL_INPUT.oninput = function () {
            window.el = parseInt(EL_INPUT.value);
            if (el > {{entitlements.el_leaves}}) {
                EL_INPUT.value = {{entitlements.el_leaves}};
                return;
            }
            else if(el < 0){
              EL_INPUT.value = 0;
              return;
            }
            validate();
        };

        CL_INPUT.oninput = function () {
            window.cl = parseInt(CL_INPUT.value);
            if (cl > {{entitlements.cl_leaves}}) {
                CL_INPUT.value = {{entitlements.cl_leaves}};
                return;
            }
            else if(cl < 0){
              CL_INPUT.value = 0;
              return;
            }
            validate();
        };

        LOP_INPUT.oninput = function () {
            window.lop = parseInt(LOP_INPUT.value);
            if(LOP_INPUT.value < 0){
              LOP_INPUT.value = 0;
            }
            validate();
        };

        function apply_leave() {
            var startDate = $("#leave-date-range").data('daterangepicker').startDate;
            var endDate = $("#leave-date-range").data('daterangepicker').endDate;
            var data = {
                "leave_status": 1,
                "reason": $("#reason_textarea").val(),
                "employee": {{ user.id }},
                "start_date": startDate.format("YYYY-MM-DD") + " " + "01:01:01",
                "end_date": endDate.format("YYYY-MM-DD") + " " + "23:59:59",
                "cl_days": window.cl,
                "el_days": window.el,
                "lop_days": window.lop,
                "duration": endDate.diff(startDate, 'days') + 1,
            };

                  $("#apply_leave_form").on("submit", function (event) {
                      $.ajax({
                          url: "/api/hrm/leaves/employee/",
                          type: "POST",
                          data: data,
                          success: function (data) {
                              //Calculating Entitlement after applying leave
                              entitlement(window.cl, window.el);
                          }
                      });
                  })

        }

        //Calculating Entitlement after applying leave
        function entitlement(cl, el) {
            var rcl = {{entitlements.cl_leaves}}-cl;
            var rel = {{entitlements.el_leaves}}-el;
            var data = {
                "cl_leaves": rcl,
                "el_leaves": rel,
                "employee":{{user.id}}
            }
            $.ajax({
                url: "/api/hrm/leaves/entitlement/"+{{user.id}}+"/",
                type: "PUT",
                data: data
            });

        }

    </script>

{% endblock page_scripts %}
