{% extends 'main/base.html' %}
{% load mist_tags %}


{% block bread_crumb %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">My Records</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">HRM</a></li>
                <li class="breadcrumb-item active">My Records</li>
            </ol>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
{% endblock bread_crumb %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Employee Records -->
            {% include 'hrm/employee_records.html' %}
        </div>
    </div>
{% endblock content %}


{% block page_scripts %}
    <script src="/static/third_party/DataTables/datatables.min.js"></script>
    <script src="/static/third_party/DataTables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="/static/third_party/DataTables/Buttons-1.5.6/js/buttons.colVis.min.js"></script>
    <!--Mist Core JavaScript -->
    <script src="/static/mist/core.js"></script>
    <!--Employee Records JavaScript -->
    <script src="/static/mist/employee_records.js"></script>
    <script>
        // Setup Django Variables to JS Global Variables
        // This Script Section is required to load employee records js file
        let designations = [];
        {% for desig in designation %}
            designations.push("{{ desig.name }}");
        {% endfor %}

        let departments = [];
        {% for depart in department %}
            departments.push("{{ depart.name }}");
        {% endfor %}

        let roles = [];
        {% for role_name in role %}
            roles.push("{{ role_name.name }}");
        {% endfor %}

        let locations = [];
        {% for location_name in location %}
            locations.push("{{ location_name.name }}");
        {% endfor %}
        let employment_statuss = [];
        {% for employment_status_name in employment_status %}
            employment_statuss.push("{{ employment_status_name.name }}");
        {% endfor %}
        var employee_json = $.ajax({
            url: '/api/hrm/employee/' + {{ user_profile.profile.employee.id }},
            type: "GET",
            dataType: "application/json",
            async: false,
            error: function (xhr, status, errorThrown) {
            }
        }).responseText;
        var employee = JSON.parse(employee_json);
        render_employee_detail(employee, disabled = true);
    </script>

{% endblock page_scripts %}
