{% extends 'main/base.html' %}
{% block content %}

    <h3>Hello {{ user.profile.employee.full_name }}</h3>
    <h1>Welcome to Mist VFX Studio</h1>

    
{% endblock content %}

{% block page_scripts %}
        <!-- ============================================================== -->
        <!-- This page plugins -->
        <!-- ============================================================== -->
{% endblock page_scripts %}