<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/static/template/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/static/template/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="/static/template/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/static/template/main/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/static/template/main/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/template/main/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/static/template/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="/static/template/main/js/custom.min.js"></script>
<script src="/static/template/main/js/validation.js"></script>
<!-- Dropzone Plugin JavaScript -->
<script src="/static/template/assets/plugins/dropzone-master/dist/dropzone.js"></script>
<!--Mist Core JavaScript -->
<script src="/static/mist/core.js"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="/static/template/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

<script src="/static/third_party/dhtmlx/dhtmlxGantt/dhtmlxgantt.js"></script>
<script src="/static/third_party/dhtmlx/dhtmlxGantt/testdata.js"></script>
<script src="/static/third_party/fancybox/dist/jquery.fancybox.min.js"></script>

<!-- Attendance Calendar Scripts -->
<script src='/static/third_party/fullcalendar-4.0.2/packages/core/main.js'></script>
<script src='/static/third_party/fullcalendar-4.0.2/packages/interaction/main.js'></script>
<script src='/static/third_party/fullcalendar-4.0.2/packages/daygrid/main.js'></script>
<script src='/static/third_party/fullcalendar-4.0.2/packages/moment/main.js'></script>
<script src='/static/third_party/fullcalendar-4.0.2/packages/moment-timezone/main.js'></script>
<script src='/static/third_party/fullcalendar-4.0.2/packages/bootstrap/main.js'></script>
