<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    {#    <link rel="icon" type="image/png" sizes="16x16" href="/static/template/assets/images/favicon.png">#}
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/icons/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/icons/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>{% include 'main/version.html' %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/template/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Dropzone css -->
    <link href="/static/template/assets/plugins/dropzone-master/dist/dropzone.css" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link href="/static/template/main/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/static/template/main/css/colors/megna-dark.css" id="theme" rel="stylesheet">
    <!-- <link href="/static/template/assets/gantt/dhtmlxgantt.css?v=6.0.7" rel="stylesheet" > -->
    <link rel="stylesheet" href="/static/third_party/dhtmlx/dhtmlxGantt/controls_styles.css?v=6.0.7">
    <link rel="stylesheet" href="/static/third_party/dhtmlx/dhtmlxGantt/dhtmlxgantt_material.css?v=6.0.7">
    <link rel="stylesheet" href="/static/third_party/fancybox/dist/jquery.fancybox.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- fullcalendar -->
    <link href='/static/third_party/fullcalendar-4.0.2/packages/core/main.css' rel='stylesheet'/>
    <link href='/static/third_party/fullcalendar-4.0.2/packages/daygrid/main.css' rel='stylesheet'/>
    <link href='/static/third_party/fullcalendar-4.0.2/packages/bootstrap/main.css' rel='stylesheet'/>
    <script src="/static/third_party/moment/moment.js"></script>


</head>
