{% extends 'main/base.html' %}

{% block bread_crumb %}
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">{{ project.name }}</h3>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="float-right" style="margin-left: 10px">
                <select id="proj_type_select" onchange="project_type_filter();" class="form-control">
                  <option>Type(All)</option>
                    {% for types in project_type %}
                        <option>{{ types.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="float-right" style="margin-left: 10px">
                <select id="proj_stage_select" onchange="project_stage_filter();" class="form-control">
                  <option>Status(All)</option>
                    {% for stage in project_stage %}
                        <option>{{ stage.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button style="margin-left: 10px" class="btn float-right hidden-sm-down btn-success" data-toggle="modal"
                    data-target="#create-project-modal" data-backdrop="static" data-keyboard="false">
                <i class="mdi mdi-account-plus"></i> Create New
            </button>

        </div>

        <!-- Add new project modal -->
        <div id="create-project-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create new project</h4>
                    </div>
                    <div class="modal-body">
                        <form id="create_project_form" class="form-material"  method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <h5>Project Name <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="project_name" type="text" name="text" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>description<span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="project_description" type="text" name="text" class="form-control"
                                           required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>Project Task</h5>
                                <select multiple id="p_task" class="form-control">
                                    {% for task in tasks %}
                                        <option>{{ task.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <h5>Project Type</h5>
                                <select id="p_type" class="form-control">
                                    {% for types in project_type %}
                                        <option>{{ types.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <h5>Project Stage</h5>
                                <select id="p_stage" class="form-control">
                                    {% for stage in project_stage %}
                                        <option>{{ stage.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <h5>Poster</h5>
                                <div class="controls">
                                    <input id="poster" type="file" name="file" class="form-control poster"
                                           ></div>
                            </div>
                            <div class="text-xs-right">
                                <button type="submit" onclick="createNewProject()" class="btn btn-info">Create</button>
                                <button type="reset" data-dismiss="modal" class="btn btn-inverse">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Setting modal -->
        <div id="project-setting-modal" class="modal fade" data-dismiss="modal" role="dialog" >

        </div>

{% endblock bread_crumb %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- .row -->

        <div class="row el-element-overlay" id="projects_grid_view"></div>

        <!-- /.row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        {% include 'main/rightsidebar.html' %}
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>

{% endblock content %}

{% block page_scripts %}
    <script>
        !function (window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation()
        }(window, document, jQuery);
    </script>

    <script>
        //  Load projects Information
        var all_projects_json = $.ajax({
            type: "GET",
            url: "/api/production/project",
            dataType: "application/json",
            async: false,
            error: function (xhr, status, errorThrown) {
            }
        }).responseText;

        var all_projects = JSON.parse(all_projects_json);
        all_projects.forEach(function (project) {
            render_projects_grid(project);
        });

        // filter projects
        function project_type_filter() {
            $('#projects_grid_view').html('');
            all_projects.forEach(function (project) {
                if (project['project_type'] == $('#proj_type_select').val()) {
                    render_projects_grid(project);
                } else if ($('#proj_type_select').val() == '') {
                    render_projects_grid(project)
                }
            })
        }

        function project_stage_filter() {
            $('#projects_grid_view').html('');
            all_projects.forEach(function (project) {
                if (project['project_stage'] == $('#proj_stage_select').val()) {
                    render_projects_grid(project);
                } else if ($('#proj_stage_select').val() == '') {
                    render_projects_grid(project)
                }
            })
        }

        function projects_search(search_text) {
            $('#projects_grid_view').html('');
            all_projects.forEach(function (project) {
                var name = project['name'].toUpperCase();
                if (name.includes(search_text.toUpperCase())) {
                    render_projects_grid(project);
                }
            })
        }

        function createNewProject() {
            // alert(JSON.stringify($('#p_task').val()))
            var selected_vals = $('#p_task').val();

              var fileupload = document.getElementById("poster");
              var file = fileupload.files[0];
              var formData = new FormData();
              formData.append('poster', file);
              formData.append('name',$("#project_name").val());
              formData.append('description',$("#project_description").val());
              formData.append('project_type',$("#p_type option:selected").val());
              formData.append('project_stage',$("#p_stage option:selected").val())
              formData.append('task', $('#p_task').val())
            $("#create_project_form").on("submit", function (event) {
                event.preventDefault();
                $.ajax({
                    url: "/api/production/project/",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success:function(data){
                        console.log(data)
                    },
                    error: function(xhr,data,status){
                      console.log(xhr)
                    }
                });
            });
        }

        // Render Grid
        function render_projects_grid(project) {
            var project_div = `
                    <div class="col-lg-2 col-md-2">
                        <div class="card" style="width:200px;">
                            <div class="el-card-item" >
                                <div class="el-card-avatar el-overlay-1"> <img src="${project.poster}" style="height:150px;width:200px" onerror="this.src='/media/production/default/poster.png'"alt="user" />
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li><a class="btn default btn-outline image-popup-vertical-fit" data-toggle="modal" data-target="#project-setting-modal" data-backdrop="static" onclick="LoadProjectDetailModal(
                    ${project.id})" data-keyboard="false"><i class="mdi mdi-settings"></i></a></li>
                                            <li><a class="btn default btn-outline" href="/production/project/${project.id}"><i class="icon-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <h3 class="box-title">${project.name}</h3>
                                      <p style="text-align:left;padding-left:5px;color:white"><small>${project.project_stage}</small></p>
                                      <p style="text-align:right;margin-top:-40px;padding-right:5px;color:white">
                                        <small>${project.task}</small>
                                      </p>
                                      <p style="margin-top:-10px"><small>Total Shots : 20</small></p>
                                      <p style="margin-top:-20px"><small>Wip : 12</small></p>
                                      <p style="margin-top:-20px"><small>Approved : 5</small></p>
                                      <p style="margin-top:-20px;margin-bottom:-20px"><small>Hold : 3</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
            `;
            $('#projects_grid_view').append(project_div);
        }

        $('#search_box').on('input', function () {
            projects_search($(this).val());
        });


        //Create DropZone
        // Calling Employee Detail Modal
        var project = '';
        function LoadProjectDetailModal(project_id) {
            var project_json = $.ajax({
                url: '/api/production/project/' + project_id,
                type: "GET",
                dataType: "application/json",
                async: false,
                error: function (xhr, status, errorThrown) {
                }
            }).responseText;
            project = JSON.parse(project_json);
            render_project_detail(project);
        }

        function render_project_detail(project){
          $('#project-setting-modal').empty();
          var project_detail_div=`
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Project Settings</h4>
                  </div>
                  <div class="modal-body">
                      <form id="update_project_form" class="form-material"  method="post">
                          {% csrf_token %}
                          <div class="form-group">
                              <h5>Project Name <span class="text-danger">*</span></h5>
                              <div class="controls">
                                  <input id="name" type="text" name="text" class="form-control" required
                                         value="${project.name}"data-validation-required-message="This field is required"></div>
                          </div>
                          <div class="form-group">
                              <h5>description<span class="text-danger">*</span></h5>
                              <div class="controls">
                                  <input id="description" type="text" name="text" class="form-control" required
                                         value="${project.description}"data-validation-required-message="This field is required"></div>
                          </div>
                          <div class="form-group">
                              <h5>Project Type</h5>
                              <select id="project_type" class="form-control">
                                  {% for types in project_type %}
                                      <option>{{ types.name }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <div class="form-group">
                              <h5>Project Stage</h5>
                              <select id="project_stage" class="form-control">
                                  {% for stage in project_stage %}
                                      <option>{{ stage.name }}</option>
                                  {% endfor %}
                              </select>
                          </div>

                          <div class="form-group">
                              <h5>Poster</h5>
                              <div class="controls">
                                  <input id="edit_poster" value="${project.poster}" type="file" name="file" class="form-control poster"
                                         ></div>
                          </div>
                          <div class="text-xs-right">
                              <button type="submit" onclick="updateProject(${project.id})" class="btn btn-info">Update</button>
                              <button type="reset" data-dismiss="modal" class="btn btn-inverse">Cancel</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
          `;
          $('#project-setting-modal').append(project_detail_div);
          $('#project_type').val(project.project_type);
          $('#project_stage').val(project.project_stage);
        }

        //Update Project Settings
        function updateProject(project_id){
          var fileupload = document.getElementById("edit_poster");
          var file = fileupload.files[0];
          var formData = new FormData();
          if (file){
            formData.append('poster', file);
          }
          formData.append('name', $("#name").val());
          formData.append('description', $("#description").val());
          formData.append('project_type', $("#project_type option:selected").val());
          formData.append('project_stage', $("#project_stage option:selected").val());
          $("#update_project_form").on("submit", function (event) {
              $('#update_project_form')[0].reset();
              $.ajax({
                  type: "PUT",
                  url: "/api/production/project/"+project_id+"/",
                  data: formData, // serializes the form's elements.
                  contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                  processData: false, // NEEDED, DON'T OMIT THIS
                  success: function (data) {
                      $(".alert").alert("Hai")
                  },
              });
        });
      }

    </script>

{% endblock page_scripts %}
