{% extends 'main/base.html' %}


{% block bread_crumb %}
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">{{ project.name }}</h3>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <button class="btn float-right hidden-sm-down btn-success" data-toggle="modal"
                    data-target="#responsive-modal" data-backdrop="static" data-keyboard="false">
                <i class="mdi mdi-account-plus"></i> Create New
            </button>

        </div>

        <!-- Add new user modal -->
        <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create new user</h4>
                    </div>
                    <div class="modal-body">
                        <form id="create_user_form" class="mt-5" novalidate action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <h5>Username <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="username" type="text" name="text" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>First Name <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="first_name" type="text" name="text" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>Last Name <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="last_name" type="text" name="text" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>Email Field <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="email" type="email" name="email" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>Password <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input type="password" name="password" class="form-control" required
                                           data-validation-required-message="This field is required"></div>
                            </div>
                            <div class="form-group">
                                <h5>Repeat Password<span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input id="password" type="password" name="password2"
                                           data-validation-match-match="password"
                                           class="form-control" required></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h5>Permissions</h5>
                                        <div class="controls">
                                            <fieldset>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="is_active" type="checkbox"
                                                           name="styled_checkbox"
                                                           class="custom-control-input"><span
                                                        class="custom-control-label">Activate Account</span> </label>
                                            </fieldset>
                                            <fieldset>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="is_superuser" type="checkbox"
                                                           name="styled_checkbox"
                                                           class="custom-control-input"><span
                                                        class="custom-control-label">Admin Access</span> </label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-xs-right">
                                <button type="submit" onclick="createNewUser()" class="btn btn-info">Create</button>
                                <button type="reset" data-dismiss="modal" class="btn btn-inverse">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>

{% endblock bread_crumb %}


{% block content %}

<div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- .row -->
                {% if project.poster %}
                <img src="{{ project.poster.url }}">
                {% else %}
                <img src='/media/production/default/poster.png'>
                {% endif %}
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                {% include 'main/rightsidebar.html' %}
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>

{% endblock content %}

{% block page_scripts %}



{% endblock page_scripts %}